body {
  margin: 0;
  font-family: Arial, sans-serif;
  opacity: 0;
  transform: scale(0.98);
  animation: fadeScaleIn 0.8s ease-out forwards;
}

@keyframes fadeScaleIn {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* nav bar   */

/* top nav  */
.navbar1 {
  width: 100%;
}

.navbar1 {
  background-color: #1a465a;
  font-size: 0.95rem;
}

.container1 {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0.8rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.phonenumber,
.social {
  display: flex;
  align-items: center;
  gap: 1rem;

}

.item1 {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  color: #ffffff;
}

.divider {
  color: #aaa;
}

.social a {
  color: #ffffff;
  transition: 0.3s;
}

.social a:hover {
  opacity: 0.7;
}

/* main nav  */

.navbar2 {
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #ddd;
}

.container2 {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo :hover {
  transition: 0.3s ease-in-out;
  transform: scale(1.05);

}

.links {
  list-style-type: none;
  display: flex;
  gap: 1.9rem;
}

.links li a {
  position: relative;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.3s ease;
}

.links li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background-color: blue;
  transition: width 0.3s ease;
}

.links li a:hover::after {
  width: 100%;
}

.offcanvas {
  display: none;
  cursor: pointer;
  font-size: 1.5rem;
}

.close {
  display: none;
}


.maincontainer {
  background-image: url('./assets/import [4254DEA].png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 4rem 1rem;
  height: auto;
  position: relative;
  z-index: 1;
}

.maincontainer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(19, 45, 53, 0.603);
  z-index: -1;
}

.main-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
  align-items: flex-start;
}

/* LEFT CONTENT */
.left-con {
  flex: 1;
  text-align: left;
  margin-top: 5rem;
}

.left-con h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: bold;
  color: white;
}

.left-con p {
  margin-bottom: 1.5rem;
  font-size: 1.1rem;
  line-height: 1.5rem;
  font-weight: 500;
  color: white;
}

.left-con .button1 {
  padding: 0.7rem 1.5rem;
  background-color: #64bba8;
  color: #ffffff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease;
  width: fit-content;
}

.left-con .button1:hover {
  background-color: #a0cac0;
  border-radius: 10px;
}


.right-form {
  width: 100%;
  max-width: 360px;
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(225, 225, 225, 0.3);
  color: #000;
  text-align: center;
  flex: 1;
}

.right-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
}

.right-form label {
  align-self: flex-start;
  font-weight: 500;
}

.right-form input[type="text"],
.right-form input[type="email"] {
  width: 100%;
  padding: 0.6rem 1rem;
  border-radius: 30px;
  border: 1px solid #ccc;
  font-size: 1rem;
  text-align: center;
}

.checkbox {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  font-size: 0.9rem;
  line-height: 1.3;
  text-align: left;
}

input[type="checkbox"] {
  accent-color: #1f4852;
}

.checkbox input {
  margin-top: 0.3rem;
}

.submit {
  align-self: flex-start;
  background-color: #08173f;
  color: #fff;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 50px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: background 0.3s ease;
}

.submit:hover {
  background-color: #143f35;
  border-radius: 10px;
}


/* section 2 */

.section2 {
  padding: 4rem 1rem;
}


.container2 {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
}

.cards {
  flex: 1 1 300px;
  background: white;
  padding: 2rem;
  text-align: left;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.cards:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}


.icon1 {
  width: 60px;
  height: 60px;
  background-color: #69b4a8;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.icon1 img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.cards h3 {
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
  font-weight: 500;
}

.cards p {
  font-size: 1rem;
  color: #555;
}

/* responsve  */

@media (max-width: 768px) {
  .navbar1 {
    display: none;
  }


  /* offcanvase */
  .offcanvas {
    display: block;
    color: #395f70;
  }

  .links {
    position: fixed;
    right: -100%;
    top: 0;
    height: 100vh;
    width: 250px;
    background-color: #fff;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
    gap: 1.5rem;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease;
    z-index: 999;
    display: flex;
  }


  .links.active {
    right: 0;
  }

  .close {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
  }

  .close span {
    font-size: 28px;
    color: #333;
    cursor: pointer;
    transition: transform 0.2s ease;
  }

  .close span:hover {
    transform: rotate(90deg);
    color: rgb(255, 148, 148);
  }

  .container2 {
    justify-content: space-between;
  }

  .main-container {
    flex-direction: column;
    align-items: center;
  }

  .left-con {
    margin-top: 2rem;
    text-align: center;
  }

  .left-con h1 {
    font-size: 2.2rem;
  }

  .left-con p {
    font-size: 1rem;
  }

  .right-form {
    width: 83%;
    margin-top: 2rem;
    margin-left: -8px;
  }
}

.right-form form {
  width: 100%;
}

.right-form input[type="text"],
.right-form input[type="email"] {
  width: 100%;
}
